:root {
  --footer-size: 40px;
}

footer {
  height: var(--footer-size);
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}

footer a {
  display: inline-block;
  color: rgb(184, 184, 184);
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer img {
  height: 14px;
}
