:root {
  --login-banner-size: 70px;
  --menubar-width: 300px;
  --feed-width: 600px;
  --sidebar-width: 300px;
  --pfp-size: 50px;
}

input:focus {
  outline: none;
}

#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
}

/* login banner */
#login-banner {
  background-color: blue;
  position: fixed;
  width: 100%;
  bottom: var(--footer-size);
}

#login-banner ul {
  display: flex;
  height: var(--login-banner-size);
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* MyNav */

#menubar {
  height: calc(100vh - var(--footer-size));
  position: fixed;
  width: var(--menubar-width);
  border: 1px solid white;
}

#menubar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-user {
  margin-top: auto;
  margin-bottom: 0;
}

/* Tweet & login popup */

#popup-background {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.449);
  width: 100vw;
  height: 100vh;
}

#tweet-popup {
  position: fixed;
  height: 300px;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 10px;
}

/* Center column */

#feed {
  margin-left: var(--menubar-width);
  width: var(--feed-width);
  border: 1px solid white;
  margin-bottom: calc(var(--footer-size));
}

/* MySidebar */

#sidebar {
  width: var(--sidebar-width);
  margin-left: calc(var(--menubar-width) + var(--feed-width));
  border: 1px solid white;
  height: calc(100vh - var(--footer-size));
  position: fixed;
}

/* Tweet item  & reply item & main tweet item*/

.tweet-item,
.reply-item,
.reply-input-container {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid red;
  padding: 10px;
  position: relative;
  display: flex;
  gap: 10px;
}

.tweet-item-img-container,
.reply-item-img-container,
.main-tweet-item-img-container,
.reply-input-img-container {
  width: var(--pfp-size);
  height: var(--pfp-size);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: white;
}

.tweet-item-img-container img,
.reply-item-img-container img,
.main-tweet-item-img-container img,
.reply-input-img-container img {
  height: 100%;
  width: 100%;
}

.tweet-item-right-half,
.reply-item-right-half {
  width: 100%;
}

.tweet-item-info,
.reply-item-info {
  display: flex;
  gap: 10px;
}

.tweet-item-name:hover,
.tweet-item-time:hover,
.reply-item-name:hover,
.reply-item-time:hover,
.main-tweet-item-time:hover,
.main-tweet-item-name:hover {
  text-decoration: underline;
}

.tweet-item-name,
.reply-item-name,
.main-tweet-item-name {
  font-weight: 600;
}

.tweet-item-time,
.reply-item-time,
.main-tweet-item-time,
.tweet-item-buttons,
.reply-item-buttons,
.main-tweet-item-buttons {
  color: grey;
}

.tweet-item-buttons,
.reply-item-buttons {
  height: 35px;
  display: flex;
  margin-right: 150px;
  justify-content: space-between;
  align-items: flex-end;
}

/* tweet item */

.tweet-item {
  border-radius: none;
  cursor: pointer;
}

.tweet-item:hover {
}
/* main tweet */

#main-tweet-container {
  min-height: 180px;
  padding: 15px;
}

.main-tweet-item-user {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
  margin-bottom: 25px;
}

.main-tweet-item-user button {
  margin-left: auto;
  margin-right: 0;
}

.main-tweet-item-message {
  font-size: 1.4rem;
  font-weight: 500;
}

.main-tweet-item-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

/* inputs */

.reply-input-container {
  align-items: center;
  gap: 0;
}

.reply-input-img-container {
  align-self: flex-start;
}

.reply-input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  min-height: 45px;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  resize: none;
}

.reply-input:focus {
  outline: 1px solid white;
}
