:root {
  --login-banner-size: 70px;
  --menubar-width: 300px;
  --feed-width: 600px;
  --sidebar-width: 300px;
  --pfp-size: 50px;
  --theme-color: rgb(99, 177, 255);
}

input:focus {
  outline: none;
}

#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
}

.more-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  gap: 4px;
  padding: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.dots {
  aspect-ratio: 1 / 1;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: white;
}

.dots-container {
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

#centerbar .more-options:hover {
  background-color: rgb(82, 82, 82);
}

/* login banner */
#login-banner {
  background-color: var(--theme-color);
  position: fixed;
  width: 100%;
  bottom: 0;
}

#login-banner ul {
  display: flex;
  height: var(--login-banner-size);
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#login-banner button {
  min-width: 140px;
}

.btn-banner-login {
  border: 2px solid white;
  background-color: var(--theme-color);
}

.btn-banner-signup {
  background-color: white;
  color: black;
}

/* MyNav */

#menubar {
  height: 100vh;
  position: fixed;
  width: var(--menubar-width);
  border: 1px solid white;
}

#menubar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

#menubar .nav-home > *,
#menubar,
.btn-nav-tweet {
  font-weight: 800;
}

#menubar .btn-nav-tweet {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--theme-color);
}

.nav-user {
  position: relative;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 10px;
}

.nav-user-item {
  --pfp-size: 40px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.2s ease-in-out;
}

.nav-user-item:hover {
  background: rgb(68, 68, 68);
}

.btn-nav-logout {
  position: absolute;
  background-color: black;
  border-radius: 13px;
  padding: 15px;
  top: -60px;
  left: 0;
  width: 100%;
  z-index: 20;
}

/* Popups */
#popup-background {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.449);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

#sign-up-popup,
#tweet-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 15px;
  z-index: 10;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.sign-up-form input {
  height: 40px;
  width: 100%;
  font-size: 1rem;
  padding: 0 10px;
  margin-bottom: 30px;
}

/* Center column */

#centerbar {
  margin-left: var(--menubar-width);
  width: var(--feed-width);
  border: 1px solid white;
}

.login-form {
  padding: 40px;
}

.login-form,
.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
}

/* MySidebar */

#sidebar {
  padding: 20px;
  width: var(--sidebar-width);
  margin-left: calc(var(--menubar-width) + var(--feed-width));
  border: 1px solid white;
  height: 100vh;
  position: fixed;
}

#who-to-follow {
  padding: 20px;
  background-color: rgb(46, 46, 46);
  min-height: 300px;
  border: 1px solid white;
  border-radius: 10px;
}

/* Tweet item  & reply item & main tweet item*/

.tweet-item,
.reply-item,
.reply-input-container {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid red;
  padding: 10px;
  position: relative;
  display: flex;
  gap: 10px;
}

.tweet-item-img-container,
.main-tweet-item-img-container,
.reply-input-img-container,
.nav-user-img-container {
  width: var(--pfp-size);
  height: var(--pfp-size);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: white;
}

.tweet-item-img-container img,
.main-tweet-item-img-container img,
.reply-input-img-container img,
.nav-user-img-container img {
  height: 100%;
  width: 100%;
}

.tweet-item-right-half {
  width: 100%;
}

.tweet-item-info {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.tweet-item-name:hover,
.tweet-item-display:hover,
.tweet-item-time:hover,
.main-tweet-item-time:hover,
.main-tweet-item-name:hover {
  text-decoration: underline;
}

.tweet-item-display {
  font-weight: 700;
}

.tweet-item-name,
.main-tweet-item-name {
  color: grey;
}

.tweet-item-time,
.main-tweet-item-time,
.tweet-item-buttons,
.main-tweet-item-buttons {
  color: grey;
}

.tweet-item-buttons {
  height: 35px;
  display: flex;
  margin-right: 150px;
  justify-content: space-between;
  align-items: flex-end;
}

/* tweet item */

.tweet-item {
  border-radius: none;
  cursor: pointer;
}

.replying-to-info {
  color: grey;
}

.options-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 19;
}

.options-popup {
  position: absolute;
  width: 150px;
  left: -150px;
  background-color: black;
  border-radius: 10px;
  z-index: 20;
}

.options-popup button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.btn-delete-tweet {
  width: 100%;
}

/* tweet page */

#main-tweet-container {
  min-height: 180px;
  padding: 15px;
}

.main-tweet-item-user {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
  margin-bottom: 25px;
}

.main-tweet-item-display {
  font-weight: 700;
}

.main-tweet-item-user button {
  margin-left: auto;
  margin-right: 0;
}

.main-tweet-item-message {
  font-size: 1.4rem;
  font-weight: 500;
}

.main-tweet-item-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.btn-submit-reply {
  padding: 15px;
  border-radius: 50px;
  width: 120px;
  background: var(--theme-color);
  font-weight: 700;
}

/* inputs */

.reply-input-container {
  align-items: center;
  gap: 0;
}

.reply-input-img-container {
  align-self: flex-start;
}

.reply-input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  min-height: 45px;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  resize: none;
}

.reply-input:focus {
  outline: 1px solid white;
}
