:root {
  --login-banner-size: 70px;
  --menubar-width: 300px;
  --feed-width: 600px;
  --sidebar-width: 390px;
  --pfp-size: 50px;
  --theme-color: rgb(99, 177, 255);
  --goback-header-size: 70px;
}

input:focus {
  outline: none;
}

#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
}

.popup {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}

.grey {
  color: grey;
}

.error {
  color: red;
}

.liked {
  background-color: rgba(255, 0, 0, 0.7) !important;
}

.liked:hover {
  background-color: red !important;
}

.more-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  gap: 4px;
  padding: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.dots {
  aspect-ratio: 1 / 1;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: white;
}

.dots-container {
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

#centerbar .more-options:hover {
  background-color: rgb(82, 82, 82);
}

/* login banner */
#login-banner {
  background-color: var(--theme-color);
  position: fixed;
  width: 100%;
  bottom: 0;
}

#login-banner ul {
  display: flex;
  height: var(--login-banner-size);
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#login-banner button {
  min-width: 140px;
}

.btn-banner-login {
  border: 2px solid white;
  background-color: var(--theme-color);
}

.btn-banner-signup {
  background-color: white;
  color: black;
}

/* MyNav */

#menubar {
  padding: 20px;
  height: 100vh;
  position: fixed;
  width: var(--menubar-width);
}

#menubar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

#menubar,
.btn-nav-tweet {
  font-weight: 800;
}

.menu-list a {
  font-size: 1.3rem;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
}

.menu-list a:hover {
  background-color: grey;
}

.nav-user {
  position: relative;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 10px;
}

.nav-user-item {
  --pfp-size: 40px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.2s ease-in-out;
}

.nav-user-item:hover {
  background: rgb(68, 68, 68);
}

.nav-options-popup {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  border-radius: 13px;
  z-index: 20;
}

.btn-nav-tweet {
  width: 100%;
}

.btn-nav-logout {
  background-color: black;
  padding: 15px;
  width: 100%;
}

/* Popups */
#popup-background {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.449);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

#sign-up-popup,
#tweet-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 15px;
  z-index: 10;
}

/* Center column */

form button {
  margin-left: auto;
  margin-right: 0;
}

#centerbar {
  margin-left: var(--menubar-width);
  width: var(--feed-width);
  min-height: 100vh;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

#explore,
#tweet-page,
#profile {
  min-height: 130vh;
}

#settings {
  height: 100%;
}

.login-form {
  padding: 40px;
}

.login-form,
.login-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
}

.login-or {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.hor-line {
  width: 100%;
  height: 0px;
  border-bottom: 1px solid grey;
}

.sign-up-form {
  display: flex;
  padding: 40px;
  flex-direction: column;
  height: 100%;
}

.sign-up-form h3 {
  margin-bottom: 10px;
}

.sign-up-form form {
  display: flex;
  flex-direction: column;
}

.sign-up-form button,
.login-form button {
  padding: 10px;
}

.sign-up-form input {
  height: 40px;
  width: 100%;
  font-size: 1rem;
  padding: 0 10px;
  margin-bottom: 30px;
}

.link-google-account {
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.link-google-account button {
  flex-shrink: 0;
  margin: 0;
  background-color: white;
  color: black;
}

.account-stats {
  text-align: right;
}

.email-form {
  position: relative;
}

.email-form label {
  position: relative;
}

.email-form input {
  padding-right: 80px;
}

.verify-email {
  position: absolute;
  right: 0;
  color: grey;
}

.verify-email,
.btn-verify-email {
  font-size: 0.8rem;
  font-weight: 400;
}

#settings .btn-verify-email {
  background-color: transparent;
  color: black;
  padding: 0;
  border-radius: 5px;
  color: var(--theme-color);
}

.btn-verify-email:hover {
  background-color: transparent;
  color: grey;
}

.verify-email.verified {
  color: rgb(68, 255, 47);
}

/* MySidebar */

#sidebar {
  padding: 20px;
  width: var(--sidebar-width);
  margin-left: calc(var(--menubar-width) + var(--feed-width));
  height: 100vh;
  position: fixed;
}

#who-to-follow {
  position: relative;
  background-color: rgb(46, 46, 46);
  min-height: 300px;
  width: 100%;
  border-radius: 10px;
}

#who-to-follow h3 {
  padding: 10px 15px;
}

/* Tweet item  & reply item & main tweet item*/

.tweet-item,
.reply-item {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  position: relative;
  display: flex;
  gap: 15px;
  border-bottom: 1px solid grey;
}

.tweet-item-img-container,
.main-tweet-item-img-container,
.reply-input-img-container,
.nav-user-img-container,
.user-card-small-img-container {
  width: var(--pfp-size);
  height: var(--pfp-size);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 20%;
  flex-shrink: 0;
}

.tweet-item-img-container img,
.main-tweet-item-img-container img,
.reply-input-img-container img,
.nav-user-img-container img,
.user-card-small-img-container img {
  height: 100%;
  width: 100%;
}

.tweet-item-right-half {
  width: 100%;
}

.tweet-item-info {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.tweet-item-display {
  font-weight: 700;
}

.tweet-item-buttons {
  margin-top: 30px;
  display: flex;
  margin-right: 150px;
  justify-content: space-between;
  align-items: flex-end;
}

.tweet-item-buttons button,
.main-tweet-item-buttons button {
  padding: 5px;
  background-color: transparent;
}

.profile-link:not(img):hover {
  text-decoration: underline;
}

/* tweet item */

.replying-to-info .profile-link {
  color: var(--theme-color);
}

.tweet-item {
  border-radius: none;
  cursor: pointer;
}

.options-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 19;
}

.options-popup {
  position: absolute;
  width: 150px;
  left: -150px;
  background-color: black;
  border-radius: 10px;
  z-index: 20;
}

.options-popup button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.btn-delete-tweet {
  width: 100%;
}

/* tweet page */

.profile-link {
  cursor: pointer;
}

.profile-link.username:hover {
  text-decoration: none;
}

.replying-to-tweet-item .tweet-item {
  border: none;
}

.replying-to-tweet-item .vert-line {
  width: 0px;
  margin: 0 auto;
  border-left: 2px solid grey;
  height: 90%;
  position: relative;
  top: 4px;
  z-index: -1;
}

#main-tweet-container {
  min-height: 180px;
  margin: 15px;
  background-color: black;
}

.main-tweet-item-user {
  padding-top: 4px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.main-tweet-item-display {
  font-weight: 700;
}

.main-tweet-item-user button {
  margin-left: auto;
  margin-right: 0;
}

.main-tweet-item-message {
  font-size: 1.4rem;
  font-weight: 500;
}

.main-tweet-item-stats {
  margin-top: 15px;
  border-top: 1px solid;
  display: flex;
  gap: 15px;
}

.main-tweet-item-stats .retweets-number,
.main-tweet-item-stats .views-number,
.main-tweet-item-stats .likes-number {
  font-weight: 700;
  color: white;
}

.main-tweet-item-buttons {
  display: flex;
  justify-content: space-between;
  --side-padding: 60px;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.main-tweet-item-stats,
.main-tweet-item-buttons {
  --top-bottom-padding: 15px;
  padding-top: var(--top-bottom-padding);
  padding-bottom: var(--top-bottom-padding);
  border-color: rgb(85, 85, 85);
}

/* replies */

.reply-input-container {
  display: flex;
  padding: 0 15px 15px 15px;
  align-items: center;
  border-bottom: 1px solid rgb(85, 85, 85);
}

.reply-input-img-container {
  align-self: flex-start;
}

.reply-input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  resize: none;
}

.reply-input:focus {
  outline: none;
}

.btn-submit-reply {
  padding: 8px;
  width: 120px;
  background: var(--theme-color);
}

/* goback header */

header.goback + .replying-to-tweet-item,
header.goback + #main-tweet-container,
header.goback + .profile-large {
  margin-top: var(--goback-header-size);
}

header.goback {
  cursor: pointer;
  width: calc(var(--feed-width) - 2px);
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.goback-text {
  height: var(--goback-header-size);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
}

/* profile page */

.profile-large {
  min-height: 410px;
}

.profile-large .user-card {
  display: flex;
  flex-direction: column;
}

.profile-large .top-half {
  background-color: rgb(76, 76, 76);
  height: 205px;
}

.profile-large .bottom-half {
  --profile-bottom-half-padding: 15px;
  padding: var(--profile-bottom-half-padding);
  min-height: 205px;
}

.bottom-half .edit {
  position: relative;
  height: 69px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.bottom-half .user-profile-img-container {
  position: absolute;
  --img-size: 135px;
  --profile-img-container-color: black;
  left: 0;
  top: calc((var(--img-size) * -1 / 2) - var(--profile-bottom-half-padding));
  height: var(--img-size);
  width: var(--img-size);
  border-radius: 20%;
  border: 5px solid var(--profile-img-container-color);
  overflow: hidden;
}

.user-profile-img-container img {
  width: 100%;
  height: 100%;
  background: black;
}

.edit button {
  padding: 7px;
  background-color: var(--profile-img-container-color);
  border: 1px solid white;
}

.user-card-display-name {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 25px;
}

.user-card-username,
.user-card-bio {
  margin-bottom: 15px;
}

.user-card-stats {
  display: flex;
  gap: 20px;
}

.user-card-followers-number,
.user-card-following-number {
  font-weight: 700;
  color: white;
}

.profile-filter-buttons {
  display: flex;
  justify-content: stretch;
  border-bottom: 1px solid grey;
}

.profile-filter-buttons button {
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  color: grey;
}

.profile-filter-buttons button:hover {
  background-color: rgb(22, 22, 22);
}

/* profile small */

.profile-small {
  min-height: 72px;
  cursor: pointer;
}

.user-card-small {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: background-color 0.2s;
}

.user-card-small:hover {
  background-color: rgb(54, 53, 53);
}

.user-card-small-contact {
  max-width: 150px;
  line-height: 20px;
}

.user-card-small-contact > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-card-small button {
  padding: 7px 15px;
  margin-right: 0;
  margin-left: auto;
  background-color: white;
  color: black;
  font-size: 0.9rem;
}
